#homeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; 
    height: 100dvh;

img {
    height: 400px;
    border-radius: 50%;
    border: 2px dotted black; 
}

h1 {
    font-size: 50px;
    text-shadow: 2px 2px 5px rgb(86, 82, 82);
}
h2{
    font-size: 40px;
    text-shadow: 2px 2px 5px rgb(86, 82, 82);
}
}


